.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mappedEntries {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.journalEntry{
  border-radius: 25px;
  background-color: white;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 300px;
  padding: 0px;
}

.journalEntry > img {
  border-radius: 25px 25px 0px 0px;
  grid-column: 1/5;
  grid-row: 1/3;
  width: 300px;
  height: 200px;
}

.journalProps {
  grid-column: 1/5;
  grid-row: 3/5;
}

.editbutton {
  grid-column: 1/3;
  grid-row: 6/7;
  border-radius: 0px 0px 0px 25px;
  background: none;
  transition: background-color 0.5s;
}

.editbutton:hover {
  background-color: #c2cdef;
}

.deletebutton {
  grid-column: 3/6;
  grid-row: 6/7;
  border-radius: 0px 0px 25px 0px;
  background: none;
  transition: background-color 0.5s;
}

.deletebutton:hover{
  background-color: #c2cdef;
}
button {
  background: none;
  background-color: white;
  border-width: 0.5px;
}

h1 {
  color: white;
}


body {
  background-color: #007FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
